@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

//gerar font-size em PX e em REM
@mixin font-size($sizeValue) {
  @if ($font-size-legacy-support) {
    font-size: $sizeValue;
  }
  font-size: #{$sizeValue / $font-size-base}rem;
}
