/* // Transforma 'px' em 'em'
em($px, $base = $base-font-size) {
  return $px / $base * 1em
}

// Transforma 'px' em 'rem' adicionando também fallback para browsers antigos
rem($px, fallback = false) {

  if (fallback) {
    font-size: $px;
  }

  if ($px is inherit) {
    do nothing, "inherit" has no unit
  } else {
    var u = unit($px);

    if (u is 'px') {
      font-size: unit($px/unit($base-font-size, 'px'), 'rem');
    } else {
      font-size: unit($px, u);
    }
  }

}
 */
